/** {
    border: 1px solid red;
}*/

body {
  font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin: 0%;
}

.fa {
    position: relative;
}

#navbar {
    background: #f5f5f5;
}

#nav-links li a {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    color: #ffffff;
}

#nav-links li a:hover, a.selected {
    background: #449d44;
}

#topmost {
    background: #ffffff;
    padding: 0.5em 0;
    border-bottom: 1px solid #449d44;
}

#topmost a {
    color: #3c763d;
}

.second-top {
    padding: 0.5em 0;
}

#links_container {
    background: #5cb85c;
}

#navbar-header {
    padding-right: 1em;
    color: #ffffff;
}

#navbar-header * {
    border: none;
}

.selected {
    background: #000000;
}

.inline {
    display: inline-block;
}

.inline-image {
    height: 20px;
    width: auto;
}

#navbar {
    margin: 0;
    padding: 0;
}

.service-heading {
    margin: auto;
}

.alert {
    position: absolute;
    width: 100%;
    top: 55px;
    z-index: 30;
}

.footer-logo {
    height: 40px;
    width: auto;
}

.logo {
    height: 3.8em;
    width: auto;
}

.name {
    height: 27px;
    width: auto;
}

#row-2 h4 {
    margin: 0;
}

#row-2.btn-default {
    padding:0.5em;
    border: 1px solid #666666;
}

#row-2.btn-default:hover {
    text-decoration: none;
    color: #5cb85c;
}

.block-details {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    padding: 3em;
    color: #666666;
    border-bottom: 2px solid transparent;
}

.block-details:hover {
    background: #f8f8f8;
    border-bottom: 2px solid #5cb85c;
}

.blue {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.block-details:hover .blue {
    color: #5cb85c;
}

.block-details a.btn {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.block-details a.btn:hover {
    background: #5cb85c;
    color: #ffffff;
}

#row-3 {
    background: #5cb85c;
    color: #ffffff;
    padding-top: 4em;
    padding-bottom: 4em;
}

.doctor {
    text-align: center;
}

.doctor-image {
    border-bottom: 1px solid #ebebeb;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.doctor:hover .doctor-image {
    background: #5cb85c;
}

.doctor-bio {
    padding: 2em .5em 1em;
    margin: 0;
}

.doctor:hover .doctor-bio {
    background: #f8f8f8;
}

#content {
    font-size: 1em;
    margin-top: 50px;
    width: 100%;
    padding: 0;
}

address {

}

/* Home Page */

#pictures .item img {
  display: block;
  width: 100%;
  height: auto;
}

#pictures {
  z-index: 4;
}

#pictures span {
  display: none;
}

/* Footer */

#footer-row-1 {
  padding-left: 3em;
}

#footer-row-2 {
  text-align: center;
}

.footer {
    margin-top: 2em;
    bottom: 0;
    padding: 1em;
    background: #666666;
    border-top: 2px solid #5cb85c;
    color: #ebebeb;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    text-decoration: none;
}

#form_container {
    padding: 4em;
}

/* About page */

#profesan {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.quotes {
    font-size: 0.8em;
    font-style: italic;
}

#sidebar-slides .item img {
    display: block;
    width: 100%;
    height: auto;
}

#sidebar-slides .item {
    margin: 3px;
}