<%= render 'layouts/carousel' %>
<br xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div id="row-2" class="row text-center">
    <div class="col-sm-4 text-left block-details">
      <i class="fa fa-stethoscope fa-3x pull-right blue" aria-hidden="true"></i>
      <h4>
        <span class="service-heading blue">24/7 Healthcare<br>and counseling</span>
      </h4>
      <p>
        <br>
        God heals, we care. We are here whenever you need us, day or night, 24 hours a day, 7 days a week all year round.
      </p>
      <a class="btn btn-default">READ MORE</a>
    </div>

    <div class="col-sm-4 text-left block-details">
      <i class="fa fa-heartbeat fa-3x pull-right blue" aria-hidden="true"></i>
      <h4>
        <span class="service-heading blue">Kidney-related<br>counseling</span>
      </h4>
      <p>
        <br>
        We have on our team world class consultant nephrologists.
      </p>
      <a class="btn btn-default">READ MORE</a>
    </div>

    <div class="col-sm-4 text-left block-details">
      <i class="fa fa-user-md fa-3x pull-right blue" aria-hidden="true"></i>
      <h4>
        <span class="service-heading blue">Endocrine gland and<br>hormone counseling</span>
      </h4>
      <p>
        <br>
        We have on our team world class consultant endocrinologists.
      </p>
      <a class="btn btn-default">READ MORE</a>
    </div>
  </div>
  <br>
  <div id="row-3" class="row">
    <div class="col-sm-5">
      <h4>Welcome to Deo Parakletos</h4>
      <p>
        Traditur, inquit, ab Epicuro ratio neglegendi doloris. Sed nimis multa. Nos commodius agimus. Nemo igitur esse
        beatus potest. Iam id ipsum absurdum, maximum malum neglegi. Tria genera bonorum; Nihilo magis.
      </p>
      <h4>You can find us at</h4>
      <address>
        Deo Parakletos Medical Centre<br>
        Road L, Afrostuff Estate<br>
        Adjacent SIB<br>
        Igbatoro Road<br>
        Akure, NG.
      </address>
    </div>

    <div class="col-sm-7">
      <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:250px;width:550px;'><div id='gmap_canvas' style='height:250px;width:550px;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="https://privacypolicytemplate.net">privacy policy template</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:11,center:new google.maps.LatLng(7.294056187477591,5.247708699438576),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(7.294056187477591,5.247708699438576)});infowindow = new google.maps.InfoWindow({content:'<strong>Locate Us</strong><br>Deo Parakletos Medical Centre, Afrostuff Estate, Igbatoro Road, Akure, Ondo State, NG.<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
  </div>
</div>