<%= render 'layouts/carousel' %>
<br xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div id="row-2" class="row text-center">
    <br>
    <div class="col-sm-4 text-left block-details">
      <i class="fa fa-stethoscope fa-3x pull-right blue" aria-hidden="true"></i>
      <h4>
        <span class="service-heading blue">24/7 Healthcare<br>and counseling</span>
      </h4>
      <p>
        <br>
        God heals, we care. We are always available, 24 hours a day, 7 days a week.
      </p>
      <a class="btn btn-default">READ MORE</a>
    </div>

    <div class="col-sm-4 text-left block-details">
      <i class="fa fa-heartbeat fa-3x pull-right blue" aria-hidden="true"></i>
      <h4>
        <span class="service-heading blue">Kidney-related<br>counseling</span>
      </h4>
      <p>
        <br>
        We have on our team world class consultant nephrologists.
      </p>
      <a class="btn btn-default">READ MORE</a>
    </div>

    <div class="col-sm-4 text-left block-details">
      <i class="fa fa-user-md fa-3x pull-right blue" aria-hidden="true"></i>
      <h4>
        <span class="service-heading blue">Endocrine gland and<br>hormone counseling</span>
      </h4>
      <p>
        <br>
        We also have on our team world class consultant endocrinologists.
      </p>
      <a class="btn btn-default">READ MORE</a>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div id="row-3" class="row text-center">
    <div class="container">
      <h3>Why choose Deo Parakletos<i class="fa fa-question-circle-o fa-1x"></i></h3><br>
      <div class="col-sm-3">
        <i class="fa fa-group fa-4x"></i><br>
        <h4>Experience</h4>
        <p>
          With our team of experienced and well qualified physicians and consultants, you're in safe hands.
        </p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-thumbs-o-up fa-4x"></i><br>
        <h4>Quality of service</h4>
        <p>
          You will enjoy world class treatment in a very conducive environment. Come check it out!
        </p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-clock-o fa-4x"></i><br>
        <h4>Flexible schedule</h4>
        <p>
          We are available for you at any time. We're just one phone call away. Dial that number now!
        </p>
      </div>
      <div class="col-sm-3">
        <i class="fa fa-group fa-4x"></i><br>
        <h4>Testimonial</h4>
        <p>
          People speak well of us. Our patients have not had it better anywhere else. A trial will convince you.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div id="row-4" class="row text-center">
    <h3>Our Directors</h3>
    <br>
    <div class="col-sm-6 doctor">
      <h4 class="doctor-bio">
        <i class="fa fa-user-md fa-5x"></i><br>
        <b>Dr Olalekan Ezekiel OJO</b><br>
        <small>Consultant Physician and Nephrologist</small>
      </h4>
    </div>

    <div class="col-sm-6 doctor">
      <h4 class="doctor-bio">
        <i class="fa fa-user-md fa-5x"></i><br>
        <b>Dr Olubukola Ayoola OJO</b><br>
        <small>Consultant Physician and Endocrinologist</small>
      </h4>
    </div>
  </div>
</div>
