<%= render 'layouts/carousel' %>
<div id="row-2" class="row text-center">
  <div class="col-sm-4">
    <h4>
      <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
      <span class="service-heading"><br>24/7 SERVICES</span>
    </h4>
    <p class="text-justify">
      God heals, we care. We are here whenever you need us, day or night, 24 hours a day, 7 days a week all year round.
    </p>
  </div>

  <div class="col-sm-4">
    <h4>
      <i class="fa fa-medkit fa-2x" aria-hidden="true"></i>
      <span class="service-heading"><br>HEALTH CARE</span>
    </h4>
    <p class="text-justify">
      If you don't take care of your body, where are you going to live? Your health is our priority.
      The greatest wealth is health. Visit us today for quality healthcare.
    </p>
  </div>

  <div class="col-sm-4">
    <h4>
      <i class="fa fa-user-md fa-2x" aria-hidden="true"></i>
      <span class="service-heading"><br>CONSULTING</span>
    </h4>
    <p class="text-justify">
      We have well qualified and experienced consultants on board. If you need special consultation, call in today and
      book an appointment with one of our consultants.
    </p>
  </div>
</div>