<div class="footer container-fluid">
  <div class="container">
    <div id="footer-row-1" data-role="footer" class="row">
      <div class="col-sm-4">
        <h4>
          Deo Parakletos<br>
          <small><em>...feel the comfort</em></small>
        </h4>
        <p>
          Deo Parakletos Medical Centre is here to fix any health concern you might have. Our diverse team of physicians
          and consultants and our customer service oriented approach will make you for once feel comfortable while
          we attend to your medical needs.
        </p>
        <br>
        <h4>Contact us</h4>
        <div>
          <a><i class="fa fa-mobile-phone fa-2x pull-left"></i></a>
          <a href="tel:08062283308">08062283308</a><br>
          <a href="tel:08033978237">08033978237</a>
        </div>
        <br>
        <div>
          <a><i class="fa fa-envelope fa-lg pull-left"></i></a>&nbsp
          <a href="mailto:info@deoparakletos.org">info@deoparakletos.org</a>
        </div>
      </div>
      <div class="col-sm-4">
        <h4>Opening hours</h4>
        <div>
          <i class="fa fa-clock-o fa-3x pull-left"></i>
          <span>Monday-Friday: 9am-6pm</span><br>
          <span>Saturday: 10am-4pm</span><br>
          <span>Sunday: 10am-1pm</span>
        </div>
        <br>
        <h4>
          <i class="fa fa-quote-left fa-2x pull-left"></i>
          Take care of your body; it's the only place you have to live in.
        </h4>
      </div>
      <div class="row col-sm-4 text-center">
        <h4 class="text-left">Locate Us</h4>
        <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCK4A2GUKhzcS7y43Fhonr8PVob1I3cd_4&q=Afrosoft+Akure" allowfullscreen>
        </iframe>
        <address class="text-left">
          <i class="fa fa-map-marker fa-3x pull-left"></i>
          <strong>Deo Parakletos Medical Centre</strong><br>
          Road L, Afrosoft Estate, Adjacent SIB<br>
          Igbatoro Road, Akure, NG.
        </address>
      </div>
    </div>
    <br>
    <div id="footer-row-2" class="row">
      <%= link_to 'Deo Parakletos Medical Centre', root_path %><br>
      &copy <%= Time.zone.now.year %>. All rights reserved.<br>
      <small>Deo Parakletos Medical Centre is a subsidiary of Deo Parakletos Investment Limited.</small>
    </div>
  </div>
</div>