<header id="navbar" class="navbar navbar-default" role="navigation">
  <div id="topmost">
    <div class="container">
      <span>
        <a><i class="fa fa-mobile-phone fa-lg"></i></a>&nbsp
        <a href="tel:08062283308">08062283308</a>
      </span>
      <span class="pull-right">
        <a><i class="fa fa-facebook fa-lg"></i></a> &nbsp
        <a><i class="fa fa-google-plus fa-lg"></i></a> &nbsp
        <a><i class="fa fa-twitter fa-lg"></i></a> &nbsp
        <a><i class="fa fa-whatsapp fa-lg"></i></a>
      </span>
    </div>
  </div>
  <div class="container second-top">
    <%=image_tag 'DeoParakletos.png', class: 'logo' %>
  </div>
    <div id="links_container">
      <div class="container" style="padding: 0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" id="navbar-header">
          <span class="pull-left navbar-toggle collapsed">MENU</span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="collapse navbar-collapse" id="navbar-collapse">
          <ul id="nav-links" class="nav navbar-nav">
            <li><%= nav_link_to 'HOME', root_path %></li>
            <li><%= nav_link_to 'ABOUT', about_path %></li>
            <li><%= nav_link_to 'SERVICES', services_path %></li>
          </ul>
        </nav><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
</header>